$icon-font-path: "../fonts/";


@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootswatch-scss/simplex/variables";
@import "bootswatch-scss/simplex/bootswatch";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

#main {
    margin-bottom: 100px !important;
}

.row {
    margin-top: 10px;
}

.navbar-form > div, button {
    margin-left: 5px;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}


.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display: inline;     /* for IE7*/
    *zoom:1;              /* for IE7*/

}

.nav-tabs, .nav-pills {
    text-align:center;
}

.btn-save-attendance {
    width: 90%;
}

.attendance-list-container {
    margin: 10px auto
}

.bootstrap-datetimepicker-widget {
    
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    width: 300px;
    transform: translate(-50%, -50%) !important;
}

.datepicker-days > table {
    margin-left:auto; 
    margin-right:auto;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.fixed {
    position: fixed;
}

.seminar-navigation {
    text-align: center;

    .glyphicon {
        font-size: $font-size-base;
        opacity: 0.2;
        position: absolute;
        margin-top: $font-size-base * 0.7;
    }

    .glyphicon-chevron-left {
        left: 8px
    }
    .glyphicon-chevron-right {
        right: 8px
    }    
}
